body{
background-color:black;
overflow-x: hidden;
scroll-behavior:smooth;
}

#Background{
width:2000px;
}

#one{
border: 11px solid #0d203b;
padding-right:175px;
padding-top:15px;
padding-bottom:50px;
padding-left:15px;
}


#two{
font-size:23px;
width:509px;
border: 11px solid #0d203b;
color:white;
padding-right:18px;
padding-left:18px;
font-weight:lighter;
font-family:Neue Machina;
text-align:center;
}

#three{
width:709px;
border: 11px solid #0d203b;
color:white;
font-family:Neue Machina;
font-weight:lighter;
}

#BITCOIN{
width:350px;
padding-top:-10px;
}

#BIT{
margin-left:400px;
margin-top:-180px;
margin-right:-200px;
font-family:Neue Machina;
font-size:35px;
color:white;
font-weight:lighter;
}

#LINE{
width:12px;
margin-top:-670px;
margin-left:370px;
margin-right:-20px;
margin-bottom:-510px;
}

#BITMAN{
width:200px;
margin-left:30px;
margin-right:-100px;
margin-top:-25px;
}

#T1{
font-size:28px;
margin-left:250px;
margin-right:-430px;
margin-top:-185px;
}

#four{
border: 11px solid #732871;
padding-right:175px;
padding-top:15px;
padding-bottom:45px;
padding-left:15px;
}


#five{
font-size:23px;
width:509px;
border: 11px solid #732871;
color:white;
padding-right:18px;
padding-left:18px;
font-weight:lighter;
font-family:Neue Machina;
text-align:center;
}

#six{
width:709px;
border: 11px solid #732871;
color:white;
font-family:Neue Machina;
font-weight:lighter;
}

#ETHER{
width:350px;
padding-top:-10px;
}

#ETH{
margin-left:390px;
margin-top:-167px;
margin-right:-200px;
font-family:Neue Machina;
font-size:33px;
color:white;
font-weight:lighter;
}

#LINE2{
width:12px;
margin-top:-655px;
margin-left:370px;
margin-right:-20px;
margin-bottom:-510px;
}

#UP{
width:165px;
margin-left:40px;
margin-right:-100px;
margin-top:-42px;
}

#T2{
font-size:28px;
margin-left:225px;
margin-right:-430px;
margin-top:-212px;
}

#seven{
border: 11px solid #314528;
padding-right:175px;
padding-top:15px;
padding-bottom:42px;
padding-left:15px;
}


#eight{
font-size:23px;
width:509px;
border: 11px solid #314528;
color:white;
padding-right:18px;
padding-left:18px;
font-weight:lighter;
font-family:Neue Machina;
text-align:center;
}

#nine{
width:709px;
border: 11px solid #314528;
color:white;
font-family:Neue Machina;
font-weight:lighter;
}

#TETHER{
width:350px;
padding-top:-10px;
}

#TET{
margin-left:400px;
margin-top:-170px;
margin-right:-200px;
font-family:Neue Machina;
font-size:35px;
color:white;
font-weight:lighter;
}

#LINE3{
width:19px;
margin-top:-660px;
margin-left:370px;
margin-right:-20px;
margin-bottom:-510px;
}

#T{
width:190px;
margin-left:35px;
margin-right:-100px;
margin-top:-25px;
}

#T3{
font-size:28px;
margin-left:250px;
margin-right:-430px;
margin-top:-175px;
}

@keyframes slideIn{
from 
{transform: translateX(-100%);
opacity: 0;}
to 
{transform: translateX(0);
opacity: 1;}
}

.animation,.chart1,.chart2,.chart3,.chart4{
animation: slideIn 2s forwards;opacity: 0;
}

.chart1 {
animation-delay: 0.5s;
}

.chart2 {
animation-delay: 1.0s;
}

.chart3 {
animation-delay: 1.5s;
}

.chart4{
animation-delay:1.75s;
}

